@{
    ViewData["Title"] = "Home Page";
}


<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Inventions by Women</h1>
                <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="#">Kimberley Ohana</a> on <span class="glyphicon glyphicon-time"></span> 12 April 2018 10:00 am</p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row margin-b-2">
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="https://amp.thisisinsider.com/images/59a03dc452c08041008b45b7-1920-1333.jpg" alt="">
            <div class="caption">
                <h4><a href="#">Chocolate Chips Cookies</a></h4>
                <p>One of the world’s most beloved sweet treats, was actually invented by accident.The invention of the chocolate chip cookie happened in 1930 when Ruth Graves...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="https://epainfo.pl/wp-content/uploads/2018/03/szczepienie.jpg" alt="">
            <div class="caption">
                <h4><a href="#">Medical Syringe</a></h4>
                <p>The modern medical syringe exists thanks to Letitia Geer, who developed the device in 1899. Before her invention, syringes had to be operated with two hands...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-176120535.jpg?itok=iQn2-f9w" alt="">
            <div class="caption">
                <h4><a href="#">Windshield Wipers</a></h4>
                <p>Drivers were skeptical when Mary Anderson invented the first manual windshield wipers in 1903. They thought it was safer to drive...</p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row margin-b-2">
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-537097887.jpg?itok=lWR0S4i4" alt="">
            <div class="caption">
                <h4><a href="#">Monopoly</a></h4>
                <p>Elizabeth Magie created The Landlord's Game to spread the economic theory of Georgism—teaching players about the unfairness of land-grabbing...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="https://media-cdn.tripadvisor.com/media/photo-s/10/03/85/a3/simon-s-pizzeria-restaurant.jpg" alt="">
            <div class="caption">
                <h4><a href="#">Beer</a></h4>
                <p>According to research by historian Jane Peyton, the earliest evidence of beer in Britain dates back thousands of years, when beer was made within the home...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="https://turistinlove.com/wp-content/uploads/2018/02/Harry-Potter-the-Exhibition-cover.jpg" alt="">
            <div class="caption">
                <h4><a href="#">Harry Potter</a></h4>
                <p>With half a billion Harry Potter books printed in more than 70 languages worldwide, it's safe to say creator J.K. Rowling made a large portion of the human population...</p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row margin-b-2">
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-827078306.jpg?itok=onv8qG1K" alt="">
            <div class="caption">
                <h4><a href="#">Kevlar</a></h4>
                <p>Lightweight, high-tensile Kevlar—five times stronger than steel—will take a bullet for you. DuPont chemist Stephanie Kwolek...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-510905273.jpg?itok=H-8fo7zq" alt="">
            <div class="caption">
                <h4><a href="#">Paper bag making machine</a></h4>
                <p>Cotton mill worker Margaret Knight invented a machine to make them with a flat square bottom in 1868. A man named Charles Annan saw her design and tried to patent...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-516949071.jpg?itok=N9GEqMC8" alt="">
            <div class="caption">
                <h4><a href="#">Marine Signal Flares</a></h4>
                <p>Communication between ships was once limited to colored flags, lanterns, and screaming things like "Thar she blows!" really loudly. Martha Coston didn't come up with...</p>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row margin-b-2">
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-171320196_0.jpg?itok=Fqi9-S8D" alt="">
            <div class="caption">
                <h4><a href="#">The dishwasher</a></h4>
                <p>Patented in 1886, the first dishwasher combined high water pressure, a wheel, a boiler, and a wire rack like the ones still used for dish drying...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="http://images.mentalfloss.com/sites/default/files/styles/width-constrained-728/public/53164-istock-593304904.jpg?itok=t-_Walij" alt="">
            <div class="caption">
                <h4><a href="#">The circular saw</a></h4>
                <p>A weaver named Tabitha Babbitt was the first to suggest that lumber workers use a circular saw instead of the two-man pit saw...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive thumbnail" src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/8/8/enhanced/webdr07/original-grid-image-20260-1407500586-14.jpg?crop=570:425;36,0&downsize=715" alt="">
            <div class="caption">
                <h4><a href="#">The life raft</a></h4>
                <p>One day in 1882, Maria Beasely looked out at the sea and said, "People should, like, stop dying in huge transportation disasters." And then she invented...</p>
            </div>
        </div>
    </div>
    <!-- /.row -->
